body{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B2EBF2;
  color: #37474F;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-weather {
  width: 20%;
  align-self: center;
}

.forecast-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.current-weather p{
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}

.forecast-weather {
  padding: 15px;
  width: 150px;
  height: 250px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #FF8F00;
  color: black;
  border-radius: 5px;
}

.forecast-weather p{
  text-align: center;
  font-size: 15px;
  font-style: italic;
}
